<h1>NEW CATEGORY</h1>
<%= form_with model: categorie, url: groups_path, method: :post, local: true, scope: :new_categorie do |f| %>
  <div>
    <%= f.text_field :name, placeholder: 'Categorie name' %>
  </div>
  <div>
    <%= f.label :icon %><br>
    <%= f.file_field :icon, placeholder: 'Upload and icon image' %>
  </div>

  <%= f.submit "Add Categorie" %>

<% end %>